<%= content_for(:form_submit) do %>
  Edit
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
    <div class="text-center margin-bottom">
      <div style="<%= @component.css %>" >Edit Me</div>
    </div>
      <%= render 'form', component: @component %>
    </div>
  </div>
</div>




