<div class='navbar-biblio'>
  <%= link_to components_path do  %>
    <img src="https://unsplash.it/100/100?random" alt="" class="bordered">
  <% end %>
  <div class='navbar-title'><%= yield(:title) %></div>
</div>
